<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <script th:inline="javascript">
        var context = [[${#httpServletRequest.getContextPath()}]];
    </script>
    <meta charset="UTF-8">
    <title>商户管理平台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/login.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/machineCode.js}"></script>
    <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">商户管理平台</div>
    <div id="darkbannerwrap"></div>

    <!--<form method="post" class="layui-form" th:if="${session.user != '3' && session.user != '2' }">-->
    <form method="post" class="layui-form">
        <input name="machineCode" id="machineCode" placeholder="机器码" disabled value="" type="text" class="layui-input" >
        <hr class="hr15">
        <input name="mobileNo" id="mobileNo" placeholder="手机号" value="" type="text" lay-verify="required" class="layui-input" >
        <hr class="hr15">
        <input name="password" id="password" lay-verify="required" placeholder="密码" value=""  type="password" class="layui-input">
        <hr class="hr15" >
        <input perm="hhhh" value="登录" lay-filter="login" lay-submit="" style="width:100%;" type="button">
        <hr class="hr20" >
        <input perm="wwww" value="登录" lay-filter="login" lay-submit="" style="width:100%;" type="button">
        <hr class="hr20" >
    </form>
</div>

<script type="text/javascript">
    console.log(context);
    var uuid = getUUID();
    console.log(uuid);
    $('#machineCode').val(uuid);
    $(function () {
        layui.use(['form'],function () {
            var form = layui.form;
            form.on('submit(login)',
                function(data) {
                    layer.load(2);
                    // console.log(data.field);
                    $.ajax({
                        url : context+'/login',
                        type : 'POST',
                        dataType : 'json',
                        data : data.field,
                        async : false,
                        success : function (data) {
                            if (data.state){
                                location.href = context+'/index'
                            }else {
                                layer.alert(data.message);
                            }
                        },
                        error : function (e) {
                            layer.closeAll('loading');
                            layer.alert(JSON.stringify(e));
                        }
                    });
                });
        });
    });
</script>
<!-- 底部结束 -->
</body>
</html>