<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yao.dao.XRolePrivilegesDao">
  <resultMap id="BaseResultMap" type="com.yao.bean.pojo.XRolePrivilegesPojo">
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="privileges_id" jdbcType="VARCHAR" property="privilegesId" />
    <result column="cre_oper_id" jdbcType="VARCHAR" property="creOperId" />
    <result column="cre_oper_date" jdbcType="TIMESTAMP" property="creOperDate" />
  </resultMap>
  <sql id="where">
    <where>
      <if test="roleId != null">
        and t.role_id = #{roleId,jdbcType=VARCHAR}
      </if>
      <if test="roleIds != null">
        and t.role_id IN
        <foreach collection="roleIds" item="value" index="index" open="(" close=")" separator=",">
          #{value,jdbcType=VARCHAR}
        </foreach>
      </if>
      <if test="privilegesId != null">
        and t.privileges_id = #{privilegesId,jdbcType=VARCHAR}
      </if>
      <if test="creOperId != null">
        and t.cre_oper_id = #{creOperId,jdbcType=VARCHAR}
      </if>
      <if test="creOperDate != null">
        and t.cre_oper_date = #{creOperDate,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>
  <sql id="keyWhere">
    <where>
      and t.role_id = #{roleId,jdbcType=VARCHAR}
      and t.privileges_id = #{privilegesId,jdbcType=VARCHAR}
    </where>
  </sql>
  <sql id="insertColumnsVal">
    <trim prefix="values(" suffix=")" suffixOverrides=",">
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="privilegesId != null" >
        #{privilegesId,jdbcType=VARCHAR},
      </if>
      <if test="creOperId != null" >
        #{creOperId,jdbcType=VARCHAR},
      </if>
      <if test="creOperDate != null" >
        #{creOperDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </sql>

  <sql id="insertColumns">
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="privilegesId != null" >
        privileges_id,
      </if>
      <if test="creOperId != null" >
        cre_oper_id,
      </if>
      <if test="creOperDate != null" >
        cre_oper_date,
      </if>
    </trim>
  </sql>

  <sql id="updateColumnVal">
    <set>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="privilegesId != null" >
        privileges_id = #{privilegesId,jdbcType=VARCHAR},
      </if>
      <if test="creOperId != null" >
        cre_oper_id = #{creOperId,jdbcType=VARCHAR},
      </if>
      <if test="creOperDate != null" >
        cre_oper_date = #{creOperDate,jdbcType=TIMESTAMP},
      </if>
    </set>
  </sql>

    <insert id="insertRecord">
        INSERT INTO x_role_privileges <include refid="insertColumns" /> <include refid="insertColumnsVal" />
    </insert>

    <select id="getRecordByKey" resultMap="BaseResultMap" >
        SELECT * FROM x_role_privileges t <include refid="keyWhere" />
    </select>

    <select id="getRecordByWhere" resultMap="BaseResultMap" >
        SELECT * FROM x_role_privileges t <include refid="where" />
    </select>

    <select id="getRecordListByWhere" resultMap="BaseResultMap" >
        SELECT * FROM x_role_privileges t <include refid="where" />
    </select>
    <select id="getPriIdsListByWhere" resultType="java.lang.String">
        SELECT t.privileges_id AS privilegesId FROM x_role_privileges t <include refid="where" />
    </select>

  <update id="updateRecordByKey">
        UPDATE x_role_privileges t <include refid="updateColumnVal" /> <include refid="keyWhere" />
    </update>

    <update id="deleteRecordByKey">
        DELETE FROM x_role_privileges
        <where>
          <if test="roleId != null">
            and role_id = #{roleId,jdbcType=VARCHAR}
          </if>
          <if test="privilegesId != null">
            and privileges_id = #{privilegesId,jdbcType=VARCHAR}
          </if>
        </where>
    </update>

</mapper>
